/* HEADER */

header {
  height: 100px;
  width: 100%;
}

/* HEADER TOP */

.dm-header-top {
  height: 30px;
  background-color: black;
}

.sony-logo {
  height: 100%;
}

.sony-logo img {
  height: 100%;
  padding: 8px;
}

/* HEADER BOTTOM */

.dm-header-bottom {
  height: 70px;
  background-color: white;
}

/* JUMBOTRON */

/* JUMBOTRON TOP */

/* JUMBOTRON BOTTOM */

/* SECTION 1 */

/* SECTION 2 */

/* SECTION 3 */

/* SECTION 4 */

/* SECTION 5 */

/* SECTION 6 */

/* SECTION 7 */

/* SECTION 8 */

/* FOOTER */

