/* HEADER */

header {
  height: 100px;
  width: 100%;
}

/* HEADER TOP */

.dm-header-top {
  height: 30px;
  background-color: black;
}

.sony-logo {
  height: 100%;
}

.sony-logo img {
  height: 100%;
  padding: 8px;
}

/* HEADER BOTTOM */

.dm-header-bottom {
  height: 70px;
  background-color: white;
  padding: 0 15px;
}

/* JUMBOTRON */

/* JUMBOTRON TOP */

.dm-jumbotron-top {
  height: 500px;
  background-image: url(/assets/img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  color: white;
  /* overflow-y: scroll; */
}

.jumbotron-text {
  padding-top: 225px;
}

.jumbotron-text p {
  margin: 35px 0;
}

/* JUMBOTRON BOTTOM */

.dm-jumbotron-bottom {
  min-height: 150px;
}

.dm-jumbotron-bottom .col {
  /* width: 200px; */
  /* width: calc(100% / 6); */
  /* height: 150px; */
  /* background-color: red; */
  /* border: 1px solid black; */
  margin: 5px 0;
}

.dm-jumbotron-bottom .row {
  margin: 20px 0;
}

.dm-jumbotron-bottom .row .col img {
  /* width: 100%; */
  width: 100%;
  border-radius: 15px;
  /* height: 150px; */
}

/* SECTION 1 */

#playstation-5-thumb {
  width: 100%;
}

#provvisorio .col img {
  width: 100%;
}

/* SECTION 2 */

.dm-section-2 {
  height: 500px;
  background-image: url('/assets/img/it-takes-two-hero-banner-desktop.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  /* overflow-y: scroll; */
}

.dm-section-2 .dm-container {
  height: 100%;
}

.dm-section-2 .dm-container img {
  height: 50%;
  margin-top: 30px;
}

/* SECTION 3 */

.dm-section-3 {
  min-height: 500px;
  background-color: #1f1f1f;
  color: white;
}

.dm-section-3 .dm-container .box-cards .container .row .col img {
  width: 100%;
  border-radius: 20px;
  margin: 20px 0;
  /* background-color: white; */
  /* border: 1px solid black; */
}

/* SECTION 4 */

.dm-section-4 {
  min-height: 500px;
  /* background-color: red; */
}

.dm-section-4 img {
  width: 100%;
}

/* SECTION 5 */

.dm-section-5 {
  min-height: 300px;
  background-color: #bebcbb;
}

.dm-section-5 .dm-section-5-left img {
  width: 100px;
}

.dm-section-5 .dm-section-5-right img {
  width: 100%;
}

/* SECTION 6 */

.dm-section-6 {
  /* min-height: 500px; */
  /* background-color: red; */
}

.dm-section-6 .col-12:first-of-type {
  text-align: center;
}

.dm-section-6-picture img {
  width: 100%;
  margin: 15px 0;
}

/* SECTION 7 */

.dm-section-7 {
  min-height: 300px;
  background-color: #161c3b;
}

.dm-section-7 .dm-section-7-left img {
  width: 100px;
}

.dm-section-7 .dm-section-7-right img {
  width: 100%;
}

/* SECTION 8 */

.dm-section-8 img {
  width: 100%;
  margin: 15px 0;
}

.dm-section-8 .row .col-12 {
  text-align: center;
}

/* FOOTER */

footer {
  background-color: #00439c;
}

.globe-footer {
  width: 50px;
} 

