/* HEADER */

header {
  height: 100px;
  width: 100%;
}

/* HEADER TOP */

.dm-header-top {
  height: 30px;
  background-color: black;
}

.sony-logo {
  height: 100%;
}

.sony-logo img {
  height: 100%;
  padding: 8px;
}

/* HEADER BOTTOM */

.dm-header-bottom {
  height: 70px;
  background-color: white;
  padding: 0 15px;
}

/* JUMBOTRON */

/* JUMBOTRON TOP */

.dm-jumbotron-top {
  height: 500px;
  background-image: url(/assets/img/jumbo-bg.png);
  background-size: cover;
  background-position: center;
  color: white;
  overflow-y: scroll;
}

.jumbotron-text {
  padding-top: 225px;
}

.jumbotron-text p {
  margin: 35px 0;
}

/* JUMBOTRON BOTTOM */

.dm-jumbotron-bottom {
  min-height: 150px;
}

.dm-jumbotron-bottom .col {
  /* width: 200px; */
  /* width: calc(100% / 6); */
  /* height: 150px; */
  /* background-color: red; */
  /* border: 1px solid black; */
  margin: 5px 0;
}

.dm-jumbotron-bottom .row {
  margin: 20px 0;
}

.dm-jumbotron-bottom .row .col img {
  /* width: 100%; */
  width: 100%;
  border-radius: 15px;
  /* height: 150px; */
}

/* SECTION 1 */

#playstation-5-thumb {
  width: 100%;
}

#provvisorio .col img {
  width: 100%;
}

/* SECTION 2 */

.dm-section-2 {
  height: 500px;
  background-image: url('/assets/img/it-takes-two-hero-banner-desktop.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  overflow-y: scroll;
}

.dm-section-2 .dm-container {
  height: 100%;
}

.dm-section-2 .dm-container img {
  height: 50%;
  margin-top: 30px;
}

/* SECTION 3 */



/* SECTION 4 */

/* SECTION 5 */

/* SECTION 6 */

/* SECTION 7 */

/* SECTION 8 */

/* FOOTER */

